@import url(https://fonts.googleapis.com/css?family=Wallpoet);




.compass {
	position: relative;
	width: 200px;
	height: 200px;
	margin: 20px auto;
	background: #222;
	padding: 20px;
	border-radius: 40px;
	border: 5px solid #444;
	overflow: hidden;
}



.compass .disc {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 200;
	background: url(http://dev.rvltn.eu/compass/compass.svg);
	width: 150px;
	height: 260px;
	background-size: 100%;
    background-repeat: no-repeat;
}

.compass .arrow {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 1000;
	background: url(http://dev.rvltn.eu/compass/arrow.svg);
	width: 150px;
	height: 260px;
	background-size: 100%;
    background-repeat: no-repeat;
}
#compass{
    position: relative;
    align-items: center;
}
#notice{
    position: relative;
    /*margin-left: 100px;*/
}
#compass_title{
    position: relative;
    /*margin-left: 180px;*/
    color: rgb(189, 86, 3);
    font-weight: bold;
}


@media only screen and (min-width: 576px){
    .compass{
        width:310px;
        height: 310px;
    }

    .compass .disc{
        width: 260px;
    }
    .compass .arrow{
        width: 260px;
    }
}
