.jke-ecgChart-background {
    fill: rgb(1, 2, 54);
    shape-rendering: crispEdges
}

.jke-ecgChart-axis-x line,
.jke-ecgChart-axis-x path {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #ddd;
    stroke-width: 1px
}

.jke-ecgChart-axis-y line,
.jke-ecgChart-axis-y path {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #ddd;
    stroke-width: 1px
}

.jke-ecgChart-grid-x line,
.jke-ecgChart-grid-x path {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #ddd;
    stroke-width: 1px
}

.jke-ecgChart-grid-y line,
.jke-ecgChart-grid-y path {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #ddd;
    stroke-width: 1px
}

.jke-ecgChart-line {
    fill: none;
    stroke: #027c0c;
    stroke-width: 3px
}
.heart-gif{
    position: relative;
    size: 20px
}